@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 62.5%;
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(247, 245, 245);
    font-family: "Roboto", sans-serif;
}
.main-box{
    display: flex;
    height: 138px;
    width: 457px; 
    background: white;
    padding: 5px;
    align-items: center;
}
img{
    height: 130px;
    width: 130px; 
}
#name, #bio{
    font-size: 20px;
    margin: 0px;
    padding-left: 14px;
}
#name{
    font-weight: 700;
}
#bio{
    font-weight: 400;
    padding-top: 0;
    padding-top: 14px;
}
.reach{
    display: flex;
    padding-top: 24px;
}
.reach p{
    font-size:15px;
    padding-left: 14px;
    color: #9e9e9e;
    font-weight: 500;
    margin: 0px;   
}
svg{
    height: 20px;
    width: 20px;  
}
.comment, .like, .retweet{
    display: flex;
    align-items: center;
    padding-left: 14px;    
}